<style>

        ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
        }

        li a {
                display: block;
                width: 150px;
                text-decoration: none;
                padding: 10px 10px;
                color: black;
        }
        li a:hover{
                background-color: gray;
        }

</style>
